
.add-button, .remove-button {
    display: inline-block; 
    background-color: #85C1E9; 
    color: #0e052e;
    border: 2px solid #1F618D; 
    border-radius: 20px; 
    padding: 6px 12px; 
    margin-right: 10px; 
    margin-bottom: 10px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-button:hover, .remove-button:hover {
    background-color: #5DADE2; 
  }
  
  ul {
    list-style-type: none; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
  }
  
  input[type="text"] {
    height: 30px; 
    width: 200px; 
    padding: 6px 12px; 
    margin-right: 10px; 
    border: 2px solid #1F618D; 
    border-radius: 20px; 
    font-size: 14px; 
  }
